<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent >
  </system.webServer>
</configuration>