<div style="margin-bottom: 1px; display: table; width: 100%; background-color: white;">
    <div style="display: table-cell; vertical-align: middle; font-size: 25px; padding: 0px 5px 0px 5px; cursor: pointer;"
        data-ng-click="addNewNavPoint()">
        +
    </div>
    <div
        google-autocomplete
        style="display: table-cell; margin: 0; border: 0; width: 100%; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;"
        data-ng-placeholder="{{'_TypeAddressForStopDetection_' | i18n }}"
        data-selected-value="search.autocompleteExtra.coords"
        data-ng-model="search.autocompleteExtra.description">
    </div>
</div>
