<div>
    <a href="https://ravkavonline.co.il/he/?utm_source=website&utm_medium=banned&utm_campaign=egged" target="_blank" title="רב קו" class="ravKavBunner" style="display:none;">
        <img alt="רב קו"
             src="Content/images/Banners/RavKavOnline.jpg"
             class="centerBanner"
             style="border: 0px;" />
    </a>
    <a href="" target="_blank" title="{{i18nEggedToursBannerTitle}}" class="eggedBunner">
        <img 
             alt="{{i18nEggedToursBannerTitle}}"
             src=""
             class="centerBanner eggedBunnerChild"
             style="border: 0px;" />
    </a>
</div>